.header{
max-width:100%;
height:125px;
background-color:#18134D;
position:relative;
bottom:20.9px;
}

img{
    background-color:#18134D;
    position:relative;
    left:-15%;
    top:24%;
    color:#FFFFFF;
    } 
    
    
    .Cons{
        max-width:12%;
        height:50%;
        background-color:#D43361;
        position:relative; 
        float:left;
        left:41%;
        top:24%;
        color:#FFFFFF;
        font:inherit;font-size:21px;
       border-radius:29px;
       }  

.conteiner1{
    width:100%;
    height:1000px;
    background-color:#0B0618;

}
.conteiner2{
    width:100%;
    height:700px;
    background-color:#F4F2F9;
    
}

.conteiner3{
    width:100%;
    height:700px;
    background-color:#FFFFFF;
}

.conteiner4{
    width:100%;
    height:600px;
    background-color:#100C32;
}

.conteiner5{
    width:100%;
    height:700px;
    background-color:#F4F2F9;
}

.conteiner6{
    width:100%;
    height:600px;
    background-color:#FFFFFF;
}

.conteiner7{
    width:100%;
    height:750px;
    background-color:#18124D;
}
.conteiner8{
    width:100%;
    height:600px;
    background-color:#18124D;
}
.conteiner9{
    width:100%;
    height:500px;
    background-color:#FBFAFD;
}

a{
    padding-left:50px;
    text-decoration:none;
    font-size:22px;
    color:white;
    float:left;
    left:810px;
    position:relative;
    top:37%;
}

  


